@import "tailwindcss";

@theme {
  --font-script: Inria-serif, Inder;
  --text-responsive-xs: clamp(1rem, 2vw + 0.5rem, 1.25rem);
  --text-responsive-sm: clamp(1.25rem, 4vw + 0.25rem, 2.5rem);
  --text-responsive-lg: clamp(1.8rem, calc(6vw + 1rem), 10rem);

  --color-yellow-25: #fada93;
  --color-violet-25: #eaaee8;
  --color-violet-1000: #110f22;
  --color-violet-980: #221b3d;
}

@layer components {
  .flex-center-full-transparent {
    @apply flex justify-center items-center w-full h-full bg-transparent;
  }
  .inder-yellow-50 {
    @apply font-[inder] text-responsive-sm text-yellow-25;
  }
  .inria-serif-yellow-50 {
    @apply font-[inria-serif] text-responsive-sm text-yellow-25;
  }
  .bg-familiar-frame {
    @apply bg-[url(/homepage/hero-demon-bg.png)] bg-no-repeat bg-center bg-cover w-screen h-screen;
  }
  .personalize-button {
    @apply bg-violet-25/30 md:px-10 md:py-5 not-md:px-4 not-md:py-1.25 md:mt-15 not-md:mt-2.5 rounded-full font-[inria-serif] text-yellow-25 text-responsive-xs cursor-pointer;
  }
  .navbar-text {
    @apply relative not-md:hidden flex top-1/3 font-[inder] text-yellow-25 text-responsive-xs;
  }
  .submit-button {
    @apply relative flex text-center text-responsive-xs text-yellow-25 font-[inder] bg-violet-25/30 md:px-10 md:py-3.5 not-md:px-4 not-md:py-1.25 rounded-4xl not-md:-top-[10vh];
  }
}
